-----------------------------
"Key"       ="BoGeStra"
"SrcConnStr"="Data Source=localhost;Initial Catalog=AtriumBogestra;Persist Security Info=True;User ID=jaha;Password=jaha"
"TarConnStr"=Replace, "localhost", "192.168.0.144"
-----------------------------
contextMenuStripProject.Items.Add("DSW21");
if (_project_compair == "DSW21")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumDSW;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.146
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.146");
;
}
-----------------------------
contextMenuStripProject.Items.Add("Goch");
if (_project_compair == "Goch")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumGoch;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.142
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.151");
}
-----------------------------
//contextMenuStripProject.Items.Add( "Goch_Test" );
//if( _project_compair == "Goch_Test" )
//{
//    this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=Atrium_Test;Persist Security Info=True;User ID=jaha;Password=jaha";
//    //192.168.0.142
//    this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace( "localhost", "192.168.0.142" );
//}
-----------------------------
contextMenuStripProject.Items.Add("VDV-KA");
if (_project_compair == "VDV-KA")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumHaasIT;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.173
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.173");
}
-----------------------------
contextMenuStripProject.Items.Add("KVG");
if (_project_compair == "KVG")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumKVG;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.149
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.149");
}
-----------------------------
contextMenuStripProject.Items.Add("KWS");
if (_project_compair == "KWS")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumKWS;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.141
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.141");
}
-----------------------------
contextMenuStripProject.Items.Add("RVK");
if (_project_compair == "RVK")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumRVK;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.138
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.138");
}
-----------------------------
contextMenuStripProject.Items.Add("SWB");
if (_project_compair == "SWB")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;      Initial Catalog=AtriumSwb;Persist Security Info=True;User ID=jaha;Password=jaha";
// 192.168.0.140
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.140");
}
-----------------------------
contextMenuStripProject.Items.Add("SWK");
if (_project_compair == "SWK")
{
// Swk
//Data Source=localhost;      Initial Catalog=AtriumSwk;Persist Security Info=True;User ID=jaha;Password=jaha
//192.168.0.137

this.textBoxSrcConnStr.Text = "Data Source=localhost;     Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.137; Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("SWK_153");
if (_project_compair == "SWK_153")
{
// Swk
//Data Source=localhost;      Initial Catalog=AtriumSwk;Persist Security Info=True;User ID=jaha;Password=jaha
//192.168.0.137

this.textBoxSrcConnStr.Text = "Data Source=localhost;     Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.153; Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("SWK_137_153");
if (_project_compair == "SWK_137_153")
{
// Swk
//Data Source=localhost;      Initial Catalog=AtriumSwk;Persist Security Info=True;User ID=jaha;Password=jaha
//192.168.0.137

this.textBoxSrcConnStr.Text = "Data Source=192.168.0.153; Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.137; Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("SWK_Kunde");
if (_project_compair == "SWK_Kunde")
{
// Swk
//Data Source=localhost;      Initial Catalog=AtriumSwk;Persist Security Info=True;User ID=jaha;Password=jaha
//192.168.0.137

this.textBoxSrcConnStr.Text = @"Data Source=localhost;     Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = @"Data Source=SQLTEST1\SWK1; Initial Catalog=AtriumSWK; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("SWMS");
if (_project_compair == "SWMS")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;      Initial Catalog=AtriumSwms;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.40
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.40");
}
-----------------------------
contextMenuStripProject.Items.Add("VER");
if (_project_compair == "VER")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumVER;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.173
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.173");
}
-----------------------------
contextMenuStripProject.Items.Add("VIP");
if (_project_compair == "VIP")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumVip;Persist Security Info=True;User ID=jaha;Password=jaha";
//192.168.0.152
this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace("localhost", "192.168.0.152");
}
-----------------------------
contextMenuStripProject.Items.Add("VRR");
if (_project_compair == "VRR")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;Initial Catalog=AtriumVrr;Persist Security Info=True;User ID=jaha;Password=jaha";
//this.textBoxTarConnStr.Text = this.textBoxSrcConnStr.Text.Replace( "localhost", "???" );
this.textBoxTarConnStr.Text = "";
}
-----------------------------
contextMenuStripProject.Items.Add("VRRABO");
if (_project_compair == "VRRABO")
{
// VRRABO, 192.168.0.154
this.textBoxSrcConnStr.Text = "Data Source=localhost;     Initial Catalog=AtriumVRRABO; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.154; Initial Catalog=AtriumVRRABO; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("VRREH");
if (_project_compair == "VRREH")
{
// VRREH, 192.168.0.139
this.textBoxSrcConnStr.Text = "Data Source=localhost;     Initial Catalog=AtriumVRREH; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.139; Initial Catalog=AtriumVRREH; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("VRREH_Kunde");
if (_project_compair == "VRREH_Kunde")
{
this.textBoxSrcConnStr.Text = "Data Source=localhost;            Initial Catalog=AtriumVRREH; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=ATRIUMDB.dom1.vrr.de; Initial Catalog=AtriumVRREH; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("WL");
if (_project_compair == "WL")
{
// 192.168.0.213
this.textBoxSrcConnStr.Text = "Data Source=localhost;          Initial Catalog=AtriumWL; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.213;      Initial Catalog=AtriumWL; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("WL_152");
if (_project_compair == "WL_152")
{
// WL_152
this.textBoxSrcConnStr.Text = "Data Source=localhost;          Initial Catalog=AtriumWL; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.152;      Initial Catalog=AtriumWLT; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("WL_213_152");
if (_project_compair == "WL_213_152")
{
// WL_152
this.textBoxSrcConnStr.Text = "Data Source=192.168.0.213;      Initial Catalog=AtriumWL; Persist Security Info=True;User ID=jaha;Password=jaha";
this.textBoxTarConnStr.Text = "Data Source=192.168.0.152;      Initial Catalog=AtriumWLT; Persist Security Info=True;User ID=jaha;Password=jaha";
}
-----------------------------
contextMenuStripProject.Items.Add("WL_Kunde");
if (_project_compair == "WL_Kunde")
{
  // WL_Kunde
  // Kunde: <DBSchema ConnectionString="Data Source=SQL3DMZ1.wstw.energy-it.net,1633;     Initial Catalog=AtriumWLT; Persist Security Info=True;User ID=SQL.AtriumWLT.F;Password=sfj22jkq#$%oIyq%$6e.fgp" Name="AtriumWL">
  // Debug: <DBSchema ConnectionString="Data Source=192.168.0.152;                            Initial Catalog=AtriumWLT;  Persist Security Info=True;User ID=jaha;           Password=jaha"                    Name="AtriumWL">
  // Test:  <DBSchema ConnectionString="Data Source=192.168.0.213;                        Initial Catalog=AtriumWL;  Persist Security Info=True;User ID=jaha;           Password=jaha"                    Name="AtriumWL">
  this.textBoxSrcConnStr.Text = "Data Source=localhost;          Initial Catalog=AtriumWL; Persist Security Info=True;User ID=jaha;Password=jaha";
  this.textBoxTarConnStr.Text = "Data Source=SQL3DMZ1.wstw.energy-it.net,1633;     Initial Catalog=AtriumWLT; Persist Security Info=True;User ID=SQL.AtriumWLT.F;Password=sfj22jkq#$%oIyq%$6e.fgp";
}
-----------------------------
//contextMenuStripProject.Items.Add( "ImmoScan" );
//if( _project == "ImmoScan" )
//{
//    this.textBoxSrcConnStr.Text = "";
//    //192.168.0.143
//    // Hausbegehung
//    this.textBoxTarConnStr.Text = "";
//}
-----------------------------
contextMenuStripProject.Items.Add("ImmoScan_Sedlak");
        if (_project_compair == "ImmoScan_Sedlak")
        {
            this.textBoxSrcConnStr.Text = @"Data Source=localhost;Initial Catalog=Hausbegehung_Sedlak;User Id=sa; Password=jaha;";
            this.textBoxSrcConnStr.Text = @"Data Source=.\MSSQLSERVER8;Initial Catalog=Hausbegehung_Sedlak;User Id=sa; Password=jaha.2012;";
            //
            // Hausbegehung_Sedlak

            // Desktop=Data Source=localhost;Initial Catalog=Hausbegehung_Sedlak;User Id=sa; Password=jaha;
            // Mobile=Data Source=localhost\SQLEXPRESS;Initial Catalog=HausbegehungMobile;User Id=hbgmobil;Password=asdf1234;Integrated Security=false;
            this.textBoxTarConnStr.Text = "Data Source=192.168.0.143;Initial Catalog=Hausbegehung_Sedlak;User Id=sa; Password=jaha;";
        }
-----------------------------
